/*Avery Willets*/
/*12/7/23*/
/*This section customizes the body of the website*/
body{
    /*These control the background and text color*/
    background-color: rgb(250, 208, 160);
    color:rgb(88, 68, 10);
}

/*This section customizes the head of the body of the website*/
h1 {
    /*These control the height and width of the header*/
    height: 150px;
    width: 500px;
    padding: 5px;
    line-height: 30px;
    /*This controls the font of the text of the header*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*This section customizes the head of the body of the website*/
h2 {
    /*These control the height and width of the body*/
    height: 150px;
    width: 200px;
    padding: 5px;
    line-height: 30px;
}

/*This section customizes the footer of the website*/
footer {
    /*These control the alignment of the text and the section margins*/
    text-align: center;
    margin-right: 200px;
}

/*This section customizes the paragraph of the website, which holds the meme image*/
p {
    /*These control the alignment of the text and the section margins*/
    margin-right: 200px;
    text-align: center;
}

/*This section customizes the header of the website*/
head {
    /*This controls the alignment of the text*/
    text-align: center;
    
}

/*This section customizes how the memeImage looks on the Index.html page*/
#memeImage {
    /*This controls the width of the image*/
    width: 400px;
    /*This controls the position of the image to be relative to objects around it*/
    position: relative;
    /*This controls the proportion of the height of the image*/
    top: 50%;
    /*This controls the proportion of the length of the image*/
    left: 50%;
    /*This controls how the image is transformed. It uses standard syntax*/
    transform: translate(-50%, -50%);
}

#mathImage {
    width: 100px;
    /*This controls the position of the image to be relative to objects around it*/
    position: fixed;
    /*This controls the proportion of the height of the image*/
    top: 25%;
    /*This controls the proportion of the length of the image*/
    left: 25%;
    /*This controls how the image is transformed. It uses standard syntax*/
    transform: translate(-50%, -50%);
}